<div class="p-4 sm:ml-64 dark:bg-gray-800 dark:border-gray-700">
  <div class="p-4 mt-14">
    <div class="flex items-center gap-4">
      <button (click)="goBack()">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>
      <h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
        Allergy Assessment Form
      </h5>
    </div>

    <div class="w-full bg-gray-200 rounded-full h-1 mb-4 dark:bg-gray-700">
      <div
        class="bg-teal-500 h-1.5 rounded-full dark:bg-teal-500"
        [style]="'width: ' + progress + '%'"
      ></div>
    </div>
    <form class="stepper" (ngSubmit)="submitForm()">
      @switch (currentStep) { @case (1) {
      <app-form-step1 (nextStepForm)="nextStep($event)"></app-form-step1>
      } @case (2) {
      <app-form-step2 (prevStepForm)="prevStep()" (nextStepForm)="nextStep($event)"></app-form-step2>
      } @case (3) {
      <app-form-step3 (prevStepForm)="prevStep()" (nextStepForm)="nextStep($event)"></app-form-step3>
      } @case (4) {
      <app-form-step4 (prevStepForm)="prevStep()" (nextStepForm)="nextStep($event)"></app-form-step4>
      } }
    </form>
  </div>
</div>
