<ng-container >
  
<div  class=" h-screen md:ml-[255px] mt-[73px] bg-white dark:bg-gray-800 overflow-x-hidden">
    <div class="flex flex-col justify-center items-start px-[100px] py-[50px]">
        <div class="md:w-[420px] lg:w-[810px] 2xl:w-[1420px]">
            <p class="font-bold text-[22px] dark:text-white">Findings</p>
            <div class="flex justify-between items-center text-[#818181]  mt-6">
                <!-- <p>{{historyData?.title}}</p> -->
                <div class="flex gap-2 items-center">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                    </svg>
                    <p >{{itemData?.date}}</p>

                </div>

            </div>
        </div>
        <div class="w-full h-[2px] bg-gray-200 dark:bg-gray-700 my-[30px] "></div>

        <p class="text-justify dark:text-white">
           {{itemData?.message}}
        </p>

    </div>

</div>

</ng-container>