<div class="h-48 p-4 rounded bg-white dark:bg-gray-400">
   <p class="mb-2 font-medium">FlUE INTERTIA</p>
   <p class="text-px font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, officia.
      Iure eos
      ipsum totam
      quod praesentium nisi! Maxime.</p>
   <div class="flex items-center justify-between mt-4">
      <span class="text-gray-400 font-medium dark:text-gray-700">just now</span>
      <button class="flex items-center text-teal-400 dark:text-teal-300 font-medium hover:text-teal-400">
         view
         <svg class="w-6 h-5 mt-1 flex items-center text-teal-400 dark:text-teal-300 hover:text-teal-400"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m9 5 7 7-7 7" />
         </svg>
      </button>
   </div>
</div>