<section class="flex h-screen">
    <div id="left-col" class="bg-teal-100 flex items-center justify-center">
        <img src="../../../../assets/images/auth-allergic-boy.svg" alt="Allergy girl">
    </div>
    <div id="right-col" class="flex flex-col max-w-md mx-auto justify-center">

        <div class="flex justify-center absolute top-2 left-2">
            <app-logo></app-logo>
        </div>
        
        <h3 class="text-black font-bold text-xl">Sign Up</h3>
        <p class="text-sm mb-4 mt-2">Fill up the form below to sign up and get Started.</p>
        <form class="">
            <div class="mb-4">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Username</label>
                <input type="text" id="username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
                    placeholder="John Doe" required />
            </div>
            <div class="mb-4">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Email</label>
                <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
                    placeholder="john@allergus.com" required />
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Password</label>
                <input type="password" id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
                    required />
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Confirm Password</label>
                <input type="password" id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
                    required />
            </div>
            <div class="flex items-center mb-4">
                <input id="checkbox-2" type="checkbox" value="" class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 rounded focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree to the <a href="#" class="text-teal-600 hover:underline dark:text-teal-500">terms and conditions</a>.</label>
            </div>
          
            <button type="button"
                class="bg-teal-300 border border-gray-300 text-gray-900 text-sm font-medium rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5">Create
                account</button>
            <p class="mt-4 text-sm">Already have an account? <a routerLink="/login" class="text-teal-500">Log In</a>
            </p>
        </form>
    </div>
</section>