<div class="p-8 bg-landing-bg bg-center bg-no-repeat bg-teal-100 bg-blend-multiply">
    <header class="mb-8 text-center">
        <h1 class="font-bold text-[2.5rem] mb-4">Allergy Management System</h1>
        <p>Welcome to our platform for managing allergies effectively.</p>
    </header>
    <main class="max-w-[800px] mx-auto">
        <section id="features">
            <h2 class="font-bold text-2xl mb-4">Key Features</h2>
            <ul class="list-none p-0">
                <li class="mb-1">Allergy Tracking</li>
                <li class="mb-1">Medication Management</li>
                <li class="mb-1">Allergy Prediction</li>
                <li class="mb-1">Real-time Pollen Count Alerts</li>
                <li class="mb-1">Emergency Contacts</li>
            </ul>
        </section>
        <section class="mb-8 text-center">
            <h2 class="font-bold text-2xl mb-4">Get Started</h2>
            <p class="mb-4">Sign up now to start managing your allergies with ease.</p>

            <a routerLink="/register" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5">Register</a>

            <p class="mt-4">Already have an account? <a routerLink="/login" class="text-teal-500 underline">Log in here</a>.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Aller Gus</p>
    </footer>
</div>