#left-col {
    width: 40%;
}

#left-col img {
    width: 350px;
}

#right-col {
    width: 60%;
}

$breakpoint-tablet: 640px;
@media (max-width: $breakpoint-tablet) {
    #left-col {
        display: none;
    }

    #right-col {
        width: 90%;
    }
}