<section class="flex h-screen">
  <div id="left-col" class="bg-teal-100 flex items-center justify-center">
    <img
      src="../../../../assets/images/auth-allergic-girl.svg"
      alt="Allergy girl"
    />
  </div>
  <div id="right-col" class="flex flex-col max-w-md mx-auto justify-center">
    <div class="flex justify-center absolute top-2 left-2">
      <app-logo></app-logo>
    </div>

    @if (!formIsValid()) {
      <ng-container>
        <app-alert [message]="errorMessage()"></app-alert>
      </ng-container>
      }

    <h3 class="text-black font-bold text-xl">Sign In</h3>
    <p class="text-sm mb-4 mt-2">Hello there! Glad to have you back.</p>
    <form [formGroup]="form" (ngSubmit)="login()" class="mb-[10px]">
      <div class="mb-4">
        <label
          for="username"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
          placeholder="John Doe"
          required
        />

        @if (username.invalid && username.errors && (username.touched || username.dirty)) {
        <span>
          @if(username.hasError('required')) {
          <small class="text-sm text-red-500"> Username is required. </small>
          } @if(username.hasError('invalidUsernameFormat')) {
          <small class="text-sm text-red-500"> Username is invalid. </small>
          }
        </span>
        }
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
          required
        />

        @if (password.invalid && password.errors && (password.touched ||
        password.dirty)) {
        <span>
          @if(password.hasError('required')) {
          <small class="text-sm text-red-500"> Password is required. </small>
          }
        </span>
        }
      </div>

      <div class="mb-4 flex justify-between items-center">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="rememberMe"
              type="checkbox"
              formControlName="rememberMe" 
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:bg-teal-500 focus:ring-teal-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-teal-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="rememberMe"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Remember me</label
          >
        </div>
        <a routerLink="/forgot-password" class="text-px text-teal-500"
          >Forgot Password?</a
        >
      </div>

      <button
        type="submit"
        [disabled]="isLoading()"
        class="bg-teal-300 border border-gray-300 text-gray-900 text-sm font-medium rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
      >

        @if(isLoading()) {
          <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
        } @else {
          Sign in
        }
      </button>
      <p class="mt-4 text-sm">
        Don’t have an account?
        <a routerLink="/register" class="text-teal-500">Register</a>
      </p>
    </form>
    <!-- <p class="text-center my-[30px]">Or</p>
    <button class="bg-white border border-teal-300 text-gray-900 text-sm font-medium rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5">Login with Google</button> -->
  </div>
</section>
