/* You can add global styles to this file, and also import other style files */

// Import Tailwind base styles
@import 'tailwindcss/base';

// Import Tailwind component styles
@import 'tailwindcss/components';

// Import Tailwind utility styles
@import 'tailwindcss/utilities';

.job-title,.wrap {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis when text is cut off */
  }
